# Dependencies
darija-sentiment-analysis/node_modules
darija-sentiment-analysis/dist
darija-sentiment-analysis/build
darija-sentiment-analysis/.next/

# Large files
darija_sentiment_model.pt
*.pt

# Environment files
darija-sentiment-analysis/.env
darija-sentiment-analysis/.env.local
darija-sentiment-analysis/.env.development.local
darija-sentiment-analysis/.env.test.local
darija-sentiment-analysis/.env.production.local

# Temporary files
.DS_Store
.vscode/
